html, body {
    margin: 0;
    padding: 0;
    background-color: #FAF6EB;
    font-family: 'Roboto', sans-serif; 
}

/*#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 2%;
}*/
/*------------------------------------First Page - Header------------------------------------*/

/*Logo*/
.logo {
    width: 150px;
    height: 120px;
    margin-left: 46%;
}

.name {
    font-size: 25px;
    background: -webkit-linear-gradient(#6B9DDA, #D86BDA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    justify-content: center;
    font-weight: 900;
}

/*title*/

.title1{
    font-size: 25px;
    color: #1E3454;
    text-align: center;
    justify-content: center;
    font-weight: 500;
}
.fastfood {
    font-size: 72px;
    color:#C0A153;
    text-shadow:5px 5px 0 #2F4C6F;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

/*main images*/

.nofastfood {
    width: 500px;
    height: 480px;
    margin-left: 38%;
}

/*scroll down*/

.scroll {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.scroll-img {
    width: 130px;
    height: 100px;
    margin-left: 47%;
}

/*What is fast food*/
.ff-mean {
    text-align: center;
    justify-content: center;
    font-size: 35px;
    color: #1E3454;
}

.burger-img{
    margin-left: 37%;
}

.click{
    text-align: center;
    justify-content: center;
    font-size: 20px;
}



